<header>
    <div class="container-fluid">
        <nav class="nav nav-bar navbar-inverse">
            <div class="navbar-brand">
                <a href="/"> Bug Tracker</a>
            </div>
            <ul class="navbar-nav nav">
                <li><a href="/">Home</a></li>
                <li><a href="/bugs">Bugs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="pull-right">
                {{#if isLoggedin}}
                <a href="/user/logout" class="btn btn-primary btn-sm">Signout</a> {{else}}
                <a href="/user/login" class="btn btn-primary btn-sm">Sign in</a> {{/if}}
            </div>
        </nav>
    </div>
</header>