<br/>
<div class="col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{bug.name}}
        </div>
        <div class="panel-body">
            {{bug.description}}
        </div>
    </div>
</div>